{% extends "base.html" %}
{% block title %}TODO{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/projects/todo.css">
{% endblock %}

{% block content %}
    <h1>TODO</h1>
    <section>
        <ul id="todo-list">

        </ul>
        <div>
            <form>
                <input type="text" id="add-todo" placeholder="New Task">
                <button id="add-button">add</button>
            </form>
        </div>
    </section>
    <script src="/static/projects/todo.js"></script>
{% endblock %}