{%extends 'base.html'%} {%block title%}{{error.id}}{%endblock%}
{%block content%}

<div class="container my-4" id="alerts">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{category}} " id="flashed">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <a href="{{url_for('errors.error_log')}}"><button class="btn btn-primary" style="width:100%">Back</button></a>
    </div>
    <div class="col-8"></div>
    <div class="col-2">
      <a href="{{url_for('errors.edit_error', error_id=error.id)}}"><button class="btn btn-primary" style="width:100%">Edit</button></a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table my-3 table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Part Number</th>
                  <th scope="col" class="text-center">Description</th>
                  <th scope="col" class="text-center">Machine</th>
                  <th scope="col" class="text-center">Root Cause</th>
                  <th scope="col" class="text-center">Notes</th>
                  <th scope="col" class="text-center">Date</th>
                  <th scope="col" class="text-center">Logged By</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">{{ error.part_number}}</td>
                  <td class="text-center">{{ error.description}}</td>
                  <td class="text-center">{{ error.machine}}</td>
                  <td class="text-center">{{ error.root_cause}}</td>
                  <td class="text-center">{{ error.notes}}</td>
                  
                  <td class="text-center">
                    {{ error.date.strftime('%m-%d-%Y')}}
                  </td>
                  <td class="text-center">{{error.name}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Pictures</h5>
          <a href="{{url_for('errors.add_file', id=error.id)}}"><i class="fa-solid fa-square-plus"></i></a>
          
          {% if files %}
            {% for file in files %}
              <h6>{{file.file_name}}</h6>
              
              <a href="{{file.presigned_url}}"><img class="img-fluid" src="{{file.presigned_url}}" alt="{{file.file_name}}"></a>
              <hr>
            {% endfor %}
          {% endif %}
          

        </div>
      </div>
    </div>
  </div>
</div>


{%endblock%}
