{% extends 'production-base.html' %}
{% block title %} Add File {%endblock%}
{% block style %} 

    
{% endblock %}
{% block content %}

<div class="container my-4" id="alerts">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class='flashes'>
          {% for category, message in messages %}
            <div class="alert alert-{{category}} " id="flashed">
              {{ message }}
            </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="text-center">Add Files</h1>
      <form action="{{ url_for('proto.add_file', project_name=project_name, part_number=part_number) }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  
          {% for field in form
                  if field.widget.input_type != 'hidden' %}

                <div class="field">
                  {{ field.label(class_='form-label') }}
                  <div class="control">
                  {{ field(class='form-control') }}
                  </div>
                </div>
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </p>

            {% endfor %}
          

          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary" type="submit" style="width:100%;" id="add-files">Add Files</button>
            </div>
            <div class="col-6">
              <a href="{{url_for('proto.show_part', project_name=project_name, part_number=part_number)}}"><button class="btn btn-danger" type="button"  style="width:100%;">Cancel</button></a>
            </div>
          </div>
            
        </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>  

<div id="uploading" style="display:none">
  <h1 class="text-center my-auto">
      Uploading... <br> <br>
    <i class="fa-solid fa-spinner fa-pulse"></i>
  </h1>
</div>

<script src="/static/prototypes/new-file.js"></script>

{% endblock %}