{%extends 'production-base.html'%} {%block
title%}{{project.project_name}}{%endblock%} {%block content%}

<div class="container my-4" id="alerts">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{category}} " id="flashed">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <a href="{{ url_for('proto.show_projects') }}"
        ><button class="btn btn-primary" style="width: 100%">
          Back to Projects
        </button></a
      >
    </div>
    <div class="col-4"></div>
    <div class="col-4">
      <a
        href="{{url_for('proto.edit_project', project_name=project.project_name)}}"
        ><button class="btn btn-primary" style="width: 100%">
          Edit Project Details
        </button></a
      >
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <h2 class="text-center mt-4">{{project.project_name}}</h2>
            <div class="progress my-5">
              <div
                class="progress-bar bg-primary"
                style="width: {{project.progress}}%"
                role="progressbar"
                aria-valuenow="{{project.progress}}"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <table class="table my-3 table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Created</th>
                  <th scope="col" class="text-center">Type</th>
                  <th scope="col" class="text-center">Product Line</th>
                  <th scope="col" class="text-center">ECO #</th>
                  <th scope="col" class="text-center">Notes</th>
                  <th scope="col" class="text-center">Last Updated</th>
                  <th scope="col" class="text-center">By</th>
                  <th scope="col" class="text-center">Projected Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% if project.created %}
                  <td class="text-center">
                    {{ project.created.strftime('%m-%d-%Y')}}
                  </td>
                  {% else %}
                  <td class="text-center">{{ project.created}}</td>
                  {% endif %}

                  <td class="text-center">{{ project.project_type}}</td>
                  <td class="text-center">{{ project.product_line}}</td>
                  <td class="text-center">{{ project.eco}}</td>
                  <td class="text-center">{{ project.notes}}</td>
                  {% if project.updated %}
                  <td class="text-center">
                    {{ project.updated.strftime('%m-%d-%Y')}}
                  </td>
                  {% else %}
                  <td class="text-center">{{ project.updated}}</td>
                  {% endif %}
                  <td class="text-center">{{ project.updated_by}}</td>
                  {% if project.date_requested %}
                  <td class="text-center">
                    {{ project.date_requested.strftime('%m-%d-%Y')}}
                  </td>
                  {% else %}
                  <td class="text-center">{{ project.date_requested}}</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Parts</h5>
          <div class="table-responsive">
            <table class="table my-3 table-hover">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Number</th>
                  <th scope="col" class="text-center">Description</th>
                  <th scope="col" class="text-center">Material</th>
                  <th scope="col" class="text-center">Location</th>
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Processes Left</th>
                  <th scope="col" class="text-center">Notes</th>
                  <th scope="col" class="text-center">Updated By</th>
                </tr>
              </thead>
              <tbody>
                {% for part in parts %}
                <tr>
                  <td class="text-center">
                    <a
                      href="{{url_for('proto.show_part', project_name=project.project_name, part_number=part.part_number)}}"
                      >{{ part.part_number}}</a
                    >
                  </td>
                  <td class="text-center">{{ part.description}}</td>
                  <td class="text-center">{{ part.material}}</td>
                  <td class="text-center">{{ part.bin_location}}</td>
                  <td class="text-center">{{ part.status}}</td>
                  <td class="text-center">
                    {{ part.total_processes - part.total_processes_completed }}
                  </td>
                  <td class="text-center">{{ part.notes}}</td>
                  <td class="text-center">{{ part.updated_by}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a href="{{url_for('proto.create_part', project_name=project.project_name)}}">
  <div class="container mb-5">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <h2 class="text-center">
          <button class="btn btn-primary">Add New Part</button>
        </h2>
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</a>

{%endblock%}
