.active{
    font-weight: 600;
    color: rgb(248, 126, 126) !important
}

.hidden{
    display: none;
}

.box{
    box-shadow: 1px 1px rgb(45, 44, 44);
}

.navbar{
    background-color: rgb(66, 65, 65);
}

.nav-link {
    
    color: #FFF;
}
.nav-link:hover {
    
    color: #82ecbaa8;
}

.navbar-nav .nav-link.active{
    color: #FFF;
}

#alex-logo {
    height: 60px;
    width: auto !important;
    bottom: 0px;
}

#dropdown{
    color: #FFF;
    border: none;
}

#nav-drop{
    color: rgb(66, 65, 65);;
}

.dropdown-submenu{
  background-color: rgb(248, 248, 248);
}

.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}
.dropdown-item:hover{
    background-color: #b0c0d1;
    
}

#dropdown:hover{
    color: #b0c0d1;
}



#submit-request{
    background-color: #002856;
    color: white;
    width: 20%;
}


.mat-butts{
    color: #000 !important;
    border: 1px solid red !important;

    
}

.mat-butts:active{
    color: #FFF !important;
    background-color: rgb(248, 126, 126) !important;
}

.mat-butts-active{
    color: #FFF !important;
    background-color: rgb(248, 126, 126) !important;
}


#hamburger{
   color: #FFF !important;
}

#hamburger:active{
  color: rgb(248, 126, 126)!important;
}

#hamburger:hover{
  color: #82ecbaa8 !important;
}

.badge{
    background-color: rgb(238, 246, 122) !important;
    color: rgb(66, 65, 65);;
}

.pending{
    background-color: rgb(238, 246, 122) !important;
}

.obsolete{
    background-color:rgb(247, 120, 120) !important;
    color:#000 !important;
}





/* FROM PROG-STYLES */


img{
  width: 30vw;
}

.logo{
  width: 2vw;
}


#instr-pic{
  width: 45vw;
}

#instr-pic2{
  width: 35vh;
}

#import{
  width:8vw;
}

#colors{
  display: flex;
  flex-direction: row;
}

#parts-screen, #geo-screen{
  width: 50vw;
}

#cutting-programs{
  width:60vw;
}

#process-all{
  width: 5vw;
}

#approaching{
  width: 20vw;
}

#microjoint{
  width: 30vw;
}

#three-i-logo{
  width: 50px;
}
#open-blank-cam{
  width: 50%;
}

#open-part{
padding: 10px;
}
#step-1{
  display: inline;
}

#open-programs-pane{
  width: 20%;
}

#mat-name-icon{
  width: 20%;
}

#open-button{
  width:8%;
}

#delete-part{
  width:70%;
}

#mat-icon{
  width: 30%;
}

#scrap-cut{
  width:13%;
}

#delete-scrap{
  width: 70%;
}

#re-auto-assign-button{
  width: 7%;
}

#sheet-edit-button{
  width:5%;
}

#control-key-copy{
  width:70%;
}

#nest-populated{
  width:70%;
}

#part-editor-screen{
  width: 70%;
}

#auto-assign-done{
  width: 70%;
}

#part-plane{
  width: 70%;
}

#click-material{
  width: 70%;
}

#part-dragged{
  width: 70%;
}

#click-layout-condition{
  width: 70%;
}

#process-setup-click{
  width: 70%;
}

#wider-spacing-button{
  width: 7%;
}

#grey-spacing{
  width: 70%;
}

#click-scrap-cuts{
  width: 70%;
}

#add-tabs{
  width: 70%;
}

#scrap-cut-screen{
  width: 70%;
}

#scrap-cut-apply{
  width: 70%;
}

#edit-sequence{
  width: 7%;
}

#sequence-screen{
  width: 70%;
}

#consecutive-instruction{
  width: 70%;
}

#nc-create{
  width: 7%;
}

#nc-create-dialog{
  width: 25%;
}

#error{
  width: 35%;
}

#save-nest{
  width: 70%;
}

#save-pdf{
  width: 50%;
}

#process-setup-button{
  width: 5%;
}
#layout-button{
  width: 5%;
}

.guide{
    height:100vh;
    width:100%;
    }
    


/* FROM NESTING-STYLES */
#logo{
    height: 200px;
}

.form-control{
    border: 1px black solid;
}

#nestexplorer{
    width: auto;
    height: 250px;
}

.btn.btn-primary{
  background-color: #35c176 !important;
  color: white;
  font-weight: 600;
  font-size: 1.15rem;
  border: none;
}

.request-success{
    background-color: #48c188;
  }

.request-danger{
    background-color: #f46e7b;
}



body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#sticky-footer{
  display: flex;
  background-color: rgb(66, 65, 65);;
  color: white;
  height: auto;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.explorer-buttons
{
    color: #000 !important;
    border: 1px solid #135600 !important;

    
}

.explorer-buttons
:active{
    color: #FFF !important;
    background-color: rgb(248, 126, 126) !important;
}

.explorer-buttons-active{
    color: #FFF !important;
    background-color: rgb(248, 126, 126) !important;
}


#user-menu{
  color: rgb(248, 126, 126);
}

#hamburger-button:focus{
  color: #000;
}

th{
  font-weight: 500;
}

#trumpf-size_x-filter{
  min-width: 60px;
}

#trumpf-size_y-filter{
  min-width: 60px;
}

#trumpf-gauge-filter{
  min-width: 60px;
}

#trumpf-material-filter{
  min-width: 60px;
}

#amada-size_x-filter{
  min-width: 60px;
}

#amada-size_y-filter{
  min-width: 60px;
}

#amada-gauge-filter{
  min-width: 60px;
}

#amada-material-filter{
  min-width: 60px;
}

#punch-size_x-filter{
  min-width: 60px;
}

#punch-size_y-filter{
  min-width: 60px;
}

#punch-gauge-filter{
  min-width: 60px;
}

#punch-material-filter{
  min-width: 60px;
}


#processes {
  text-decoration: none;
  list-style-type: none;
}

#product_line{
  text-decoration: none;
  list-style-type: none;
}

#process-checkmark{
  font-size: 1.5rem;
  color: #0ac26c;
}

.process-complete{
  background-color: #82ecbb;
}

.process:hover{
  background-color: #82ecbaa8;
}

#uploading{
  width: 100%;
  height: 100%;
  background-color: #ffffff9d;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 20vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing {
  width: 17ch;
  animation: typing 2s steps(17), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



#social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3c3d3f;
    color: white;

}

#social-pic{
    height: 250px !important;
    width: 200px !important;
    border-radius: 100% !important;
}
