{% extends 'production-base.html' %}
{% block title %}Projects{% endblock %}

{% block content %}

<div class="container my-4" id="alerts">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class='flashes'>
          {% for category, message in messages %}
            <div class="alert alert-{{category}} " id="flashed">
              {{ message }}
            </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</div>

 <h3 class="text-center my-3 mt-5">Current Programming Requests</h3>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-3"></div>
        <div class="col-lg-2 col-3 request-success mx-1 text-center">Complete</div>
        <div class="col-lg-2 col-3 request-danger mx-1 text-center">Incomplete</div>
        <div class="col-lg-4 col-3"></div>
      </div>
    </div>
    
    {% if requests %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-0"></div>
            <div class="col-lg-8 col-sm-12">
                <table class="table my-4 table-responsive" id="requests-table">
                    <thead class="thead"> 
                        <tr>
                            <th scope="col" class="text-center"  style="width:20%">
                                <span>Type</span>
                            </th>
                            <th scope="col" class="text-center"  style="width:20%">
                                <span>Part/Program</span>
                            </th>
                            <th scope="col" class="text-center" style="width:45%">
                                <span>Description</span>
                            </th>
                            <th scope="col" class="text-center"  style="width:15%">
                                <span>Requested By</span>
                            </th>
                            <th scope="col" class="text-center"  style="width:15%">
                                <span>Job Number</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        {% for request in requests %}
                          {% if not request.date_completed %}
                            <tr class="request-danger">
                              <td class="text-center" data-request_id={{request.id}}>{{request.request_type}}</td>
                              <td class="text-center">{{request.to_change}}</td>
                              <td class="text-center">{{request.description}}</td>
                              <td class="text-center">{{request.requested_by}}</td>
                              <td class="text-center">{{request.job_number}}</td>
                          {% else %}
                          <tr class="request-success">
                              <td class="text-center">{{request.request_type}}</td>
                              <td class="text-center">{{request.to_change}}</td>
                              <td class="text-center">{{request.description}}</td>
                              <td class="text-center">{{request.requested_by}}</td>
                              <td class="text-center">{{request.job_number}}</td>

                            
                          {% endif %}
                          
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-lg-2 col-sm-0"></div>
        </div>
    </div>
    {% else %} 
      <h4 class="text-center my-5">No Requests</h4>
    {% endif %}

  

<hr class="my-5" >

<h3 class="text-center my-3">Prototype Dashboard</h3>
{% if projects %}
<div class="container">
    <div class="row my-2">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title text-center">On Time</h5>
                    <div class="table-responsive">
                        <table class="table my-3 table-hover">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Project Name</th>
                                <th scope="col" class="text-center">Last Updated</th>
                                <th scope="col" class="text-center">By</th>
                                <th scope="col" class="text-center">Progress</th>
                                <th scope="col" class="text-center">Projected Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    {% if project.status == 'Incomplete' %}
                                        {% if not project.late %}
                                            <tr>
                                                <th scope="row" class="text-center"><a href="{{ url_for('proto.show_project', project_name=project.project_name) }}">{{ project.project_name}}</a></td>
                                                {% if project.updated %}
                                                    <td class="text-center">{{ project.updated.strftime('%m-%d-%Y')}}</td>    
                                                {% else %}
                                                    <td class="text-center">{{ project.updated}}</td>    
                                                {% endif %}
                                                    <td class="text-center">{{ project.updated_by }}</td>
                                                    <td class="text-center">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{project.progress}}%" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                                {% if project.date_requested %}
                                                    <td class="text-center">{{ project.date_requested.strftime('%m-%d-%Y')}}</td>    
                                                {% else %}
                                                    <td class="text-center">{{ project.date_requested}}</td>    
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="container">
    <div class="row my-5">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title text-center">Past Due</h5>
                    <div class="table-responsive">
                        <table class="table my-3 table-hover">
                            <thead>
                                <tr>
                                <th scope="col" class="text-center">Project Name</th>
                                <th scope="col" class="text-center">Last Updated</th>
                                <th scope="col" class="text-center">By</th>
                                <th scope="col" class="text-center">Progress</th>
                                <th scope="col" class="text-center">Projected Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    {% if project.status == 'Incomplete' %}
                                        {% if project.late %}
                                            <tr>
                                                <th scope="row" class="text-center"><a href="{{ url_for('proto.show_project', project_name=project.project_name) }}">{{ project.project_name}}</a></td>
                                                {% if project.updated %}
                                                    <td class="text-center">{{ project.updated.strftime('%m-%d-%Y')}}</td>    
                                                {% else %}
                                                    <td class="text-center">{{ project.updated}}</td>    
                                                {% endif %}
                                                <td class="text-center">{{ project.updated_by }}</td>
                                                <td class="text-center">
                                                    <div class="progress">
                                                        <div class="progress-bar bg-danger" style="width: {{project.progress}}%" role="progressbar" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </td>
                                                {% if project.date_requested %}
                                                    <td class="text-center">{{ project.date_requested.strftime('%m-%d-%Y')}}</td>    
                                                {% else %}
                                                    <td class="text-center">{{ project.date_requested}}</td>    
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% else %}
    <h3 class="text-center my-5">No projects to show</h3>
{% endif %}



<script src="/static/production/request.js"></script>
<script src="/static/hubs/home.js"></script>
{% endblock %}
