{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<div class="wrapper mt-5">
    <div class="typing">
      Hello World... :)
    </div>
</div>

<div class="container my-3" style="height:80vh;">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" style="background-color:rgb(216, 236, 236)">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="/static/images/profile_pic.jpg" alt="Alex Howard">
                            </div>
                            <div class="col-8">
                                <h3 class="card-title ">Alex Howard</h3>
                                <hr>
                                <p class="card-text">
                                    Aspiring software engineer with 8+ years experience in manufacturing, CNC machining, 
                                    and 4+ years experience with continuous improvement, manufacturing engineering, and CAM programming. 
                                    When I tell people I'm living the dream, it's because I'm working for you. <br> <br> <br>

                                    
                                    <blockquote class="blockquote mb-0">
                                    <p>Engineers believe that if it ain't broke, it doesn't have enough features yet.</p>
                                    <footer class="blockquote-footer">Scott Adams</footer>
                                </blockquote>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>


<hr class="my-5">


<div class="container" id="projects">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <div class="col my-4 mx-4">
    <div class="card" style="background-color:rgb(212, 212, 212);">
      <img src="/static/images/projects/todo.gif" class="card-img-top" alt="Todo">
      <div class="card-body">
        <hr>
        <h5 class="card-title">Todo List</h5>
        <p class="card-text">Where it all started. The days when LocalStorage was still tricky to get right. But this was the first 
          time I got to see my programming come alive in something other than a console window.
          <a href="{{url_for('todo')}}"><button class="btn btn-primary my-3" style="width:100%;">Go</button></a>
        </p>
      </div>
    </div>
  </div>
    <div class="col my-4 mx-4">
      <div class="card" style="background-color:rgb(212, 212, 212)">
        <img src="/static/images/projects/memory.gif" class="card-img-top" alt="Memory Game">
        <div class="card-body">
          <hr>

          <h5 class="card-title">Memory Game</h5>
          <p class="card-text">Getting a little more difficult. I felt I couldn't get the hang of styling
            and making the cards look nice. Getting the boxes to line up and move responsively was my next challenge. How do you center a div, anyway?
          </p>
        
          <a href="{{url_for('memory_game')}}"><button class="btn btn-primary my-2" style="width:100%;">Go</button></a>
        </div>
      </div>
    </div>
<!--     
  <div class="col my-4 mx-4">
    <div class="card" style="background-color:rgb(212, 212, 212)">
      <img src="/static/images/projects/memory.gif" class="card-img-top" alt="Memory Game">
      <div class="card-body">
        <hr>
        
        <h5 class="card-title">Frasier Connect 4</h5>
        <p class="card-text">Note: This doesn't work on mobile. This was the first time I styled a project in a way I liked.
          As you saw in the previous project, it was just empty white squares. Now we get to see Crane vs. Crane II. 
        </p>
      
        <a href="{{url_for('frasier')}}"><button class="btn btn-primary my-2" style="width:100%;">Go</button></a>
      </div>
    </div>
  </div>
  <div class="col my-4 mx-4">
    <div class="card" style="background-color:rgb(212, 212, 212)">
      <img src="/static/images/projects/memory.gif" class="card-img-top" alt="Memory Game">
      <div class="card-body">
        <hr>
        
        <h5 class="card-title">Jeopardy</h5>
        <p class="card-text">I'll take "API calls for $400". Making a simple jeopardy board and utilizing data from an outside source was fun! 
          This was one of those projects where you say, I'm new with programming, but these questions make me wonder if I'm new on this planet.
        </p>
      
        <a href="{{url_for('memory_game')}}"><button class="btn btn-primary my-2" style="width:100%;">Go</button></a>
      </div>
    </div>
  </div> -->
</div>
</div> 
                 



<footer id="sticky-footer" style="height:75px;" class="mt-5">
    <div class="container">
          <a href="https://www.linkedin.com/in/alex-m-howard/" style="color:white; text-decoration:none;"><img src="/static/images/LinkedIn_Logo.svg" alt="LinkedIn" style="height:30px; width:125px"></a>
    </div>
    <div class="container">
    </div>
    <div class="container text-end">
         <a href="https://github.com/Alex-M-Howard"><img src="/static/images/github-logo.svg" alt="GitHub" style="width: 50px; height:50px;"></a>
    </div>
</footer>

{% endblock %}