{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}

<div class="wrapper mt-5">
    <div class="typing">
      Hello World... :)
    </div>
</div>

<div class="container my-3" style="height:80vh;">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" style="background-color:rgb(216, 236, 236)">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid" src="/static/images/profile_pic.jpg" alt="Alex Howard">
                            </div>
                            <div class="col-8">
                                <h3 class="card-title ">Alex Howard</h3>
                                <hr>
                                <p class="card-text">
                                    Aspiring software engineer with 8+ years experience in manufacturing, CNC machining, 
                                    and 4+ years experience with continuous improvement, manufacturing engineering, and CAM programming. 
                                    When I tell people I'm living the dream, it's because I'm working for you. <br> <br> <br>

                                    
                                    <blockquote class="blockquote mb-0">
                                    <p>Engineers believe that if it ain't broke, it doesn't have enough features yet.</p>
                                    <footer class="blockquote-footer">Scott Adams</footer>
                                </blockquote>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>


<hr>


<div class="container" id="projects">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
  <div class="col">
    <div class="card" style="background-color:rgb(212, 212, 212)">
      <img src="/static/images/projects/todo.gif" class="card-img-top" alt="Todo">
      <div class="card-body">
        <hr>
        <h5 class="card-title">Todo List</h5>
        <p class="card-text">Where it all started. The days when LocalStorage was still tricky to get right. 
          <a href="{{url_for('todo')}}"><button class="btn btn-primary my-2" style="width:100%;">Go</button></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="background-color:rgb(212, 212, 212)">
      <img src="/static/images/projects/memory.gif" class="card-img-top" alt="Memory Game">
      <div class="card-body">
        <hr>
        
        <h5 class="card-title">Memory Game</h5>
        <p class="card-text">Getting a little more difficult. I felt I couldn't get the hang of styling
          and making the cards look nice. Getting the boxes to line up and move responsively was my next challenge. How do you center a div, anyway?
        </p>
      
        <a href="{{url_for('memory_game')}}"><button class="btn btn-primary my-2" style="width:100%;">Go</button></a>
      </div>
    </div>
  </div>
</div>


{% endblock %}