{% extends 'base.html' %} {% block title%}Login{% endblock %} {% block content
%}

<div class="container my-4">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <ul class="flashes">
        {% for category, message in messages %}
        <div class="alert alert-{{category}} " id="flashed">{{ message }}</div>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <div class="col-3"></div>
  </div>
</div>



<div class="d-flex align-items-center" style="height: 75vh">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1 class="text-center">Login</h1>
        <form method="POST">
          <label for="email">Email</label>
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="email"
              aria-label="email"
              aria-describedby="email"
              required
            />
          </div>

          <div class="form-group mb-2">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              minlength="6"
            />
          </div>

          <button
            class="btn btn-primary my-3"
            type="submit"
            style="width: 100%"
          >
            Login
          </button>
        </form>
        <h6 class="text-center my-5">
          First time?
          <a
            href="{{ url_for('user.signup_page') }}"
            style="text-decoration: none"
            >Sign Up</a
          >
        </h6>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
<form method="POST">
  <input type="text" name="email" value="guest@guest.com" hidden>
  <input type="password" name="password" value="password" hidden>
  <button class="btn btn-primary" style="width:100%">Guest Login</button>
</form>

    </div>
    <div class="col-4"></div>

  </div>
</div>
  </div>



</div>


{% endblock %}
